@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #172554;

  --dark-grey: #404040;
  --light-grey: #e5e7eb;
}
@layer utilities {
  .nav a.active {
    @apply bg-white text-primary;
  }
}
@layer components {
  label {
    @apply text-neutral-500 text-base font-medium;
  }
  .input {
    @apply border border-gray-300 active:border-blue-900 outline-none py-1 px-2 rounded-[4px] focus:border-blue-900 text-blue-900 caret-blue-900 placeholder:text-gray-400 text-sm h-[40px];
  }
  .input-error {
    @apply border-red-600;
  }
}
